{% extends 'display/base.html' %}
{% load static%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}

{% if request.user.is_authenticated %}

{% else %}
<p>You must be authenticated</p>
{% endif %}
<div class="homebody">
    <div class="container">




        <!-- SECTION 1 -->

        <!-- USED TO STYLE PICTURE-BODY SIZE IN HOME-PAGE  -->
        <div class="w3-card-6" style="width:56%">

            <div class="container">
                {% if all_images %} {% for collins in all_images %}

                <div class="image-padding">

                    <!-- BootStrap Class For adding Border around picture -->
                    <div class="panel panel-primary">

                        <!-- SECTION 1 PROFILE & user name -->

                        <!-- Profile Picture and User name for account -->

                        <p class="username-home-dp">
                            <img src="{% static 'images/pic3.jpg' %}" class="circular-home-dp" alt="sign-up-logo ">
                         {% if all_users %} {% for user in all_users %}
                            <strong> "{{user.user}}" </strong>
                        {% endfor %}{% else %}
                        <strong>gram</strong>

                        {% endif %}
                        </p>

                        <!-- SECTION 2 (IMAGE) -->
                        <!-- POSTED IMAGE -->
                        <a href="{{ collins.image }}" data-lightbox="gallery">
                            <img src="{{ collins.image.url }}" class="img-responsive" style="width:100%;margin-left: 0%;margin-top:15px; ">
                        </a>

                        <!--Like & Comment Section -->
                        <div class="container">
                            <div class='likes'>

                                <span class="like-row">
                                    {% if liked %}
                                    <img class="liked" src="{% static 'images/liked.png' %}" alt="liked picture"class="img-responsive"> {% else %}
                                    <img class="like" src="{% static 'images/liked.png' %}" alt="not liked picture" class="img-responsive"> {% endif %}
                                    <img class="comment" id='comment-icon' src="../../static/images/comment.png"class="img-responsive" alt=" commentImage">
                                    <img class="save" src="{% static 'images/unsaved.png' %}" alt="save picture">
                                    </p>
                                </span>
                                <p><strong>5 likes</strong> </p>
                        <!-- Caption Section -->
                        {% if all_users %} {% for user in all_users %}
                        <strong> "{{user.user}}" </strong>
                        {% endfor %}{% else %}
                        <p><strong>gram</strong> {{collins.image_caption}}</p>

                        {% endif %}

                        <div class='comments'>
                            <input type='text' id='comment' placeholder='Add a comment...'>
                            <span class='dot02'></span>
                        </div>
                            </div>
                        </div>

                    </div>


                </div>
                {% endfor %} {% else%}
                <h3>You have no images</h3>

                {% endif %}

            </div>


        </div>
    </div>
</div>
{% endblock %}